<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="crane">
  <xacro:include filename="$(find crane_description)/urdf/crane.xacro" />
  <xacro:include filename="$(find crane_description)/urdf/pendulum.xacro" />
  <xacro:crane />
  <xacro:pendulum prefix="pendulum_" length="1.05" />
  <joint name="crane_tip_pendulum" type="fixed">
    <origin xyz="0 0 0" rpy="0 ${radians(180)} ${radians(-90)}"/>
    <parent link="suspension_frame"/>
    <child link="pendulum_base_link"/>
  </joint>
</robot>