<?xml version="1.0"?>
<launch>
  <include file="$(find crane_description)/launch/load_pendulum.launch" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find crane_description)/config/crane_visualization.rviz" required="true" />
</launch>