<?xml version="1.0"?>
<launch>
  <include file="$(find crane_description)/launch/load_crane.launch" />
  <node name="crane_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true" />
    <remap from="joint_states" to="actuator_states"/>
  </node>

  <node name="crane_state_publisher" pkg="crane_state_publisher" type="crane_state_publisher">
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find crane_description)/config/crane_visualization.rviz" required="true" />
</launch>