<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Start in simulation or not -->
  <arg name="sim" default="true" />

  <!-- <include file="$(find crane_description)/launch/test_crane.launch" /> -->
  <include file="$(find crane_description)/launch/test_crane_with_pendulum.launch" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find crane_hw_interface)/config/hardware_controllers.yaml" command="load"/>
  <!-- Load standard kuka controller joint names from YAML file to parameter server -->
  <rosparam file="$(find crane_hw_interface)/config/controller_joint_names.yaml" command="load"/>

  <!-- main 'driver node': the crane hardware interface -->
  <node name="crane_hw_interface_sim" pkg="crane_hw_interface" type="crane_hw_interface_node_sim" output="screen" respawn="false" if="$(arg sim)">
    <rosparam>
      joint_names: ["joint1", "joint2", "joint3"]
      actuator_names: ["actuator1", "actuator2", "actuator3"]
      initial_actuator_position: [0.3, 0.8, 0.8]
    </rosparam>
  </node>

  <node name="crane_hw_interface" pkg="crane_hw_interface" type="crane_hw_interface_node" output="screen" respawn="false" unless="$(arg sim)">
    <rosparam>
      joint_names: ["joint1", "joint2", "joint3"]
      actuator_names: ["actuator1", "actuator2", "actuator3"]
    </rosparam>
  </node>>

  <!-- Load controllers -->
  <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="crane_state_controller"/> -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="crane_state_controller lyapunov_pendulum_damping_controller"/>
  <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="crane_state_controller crane_tip_velocity_forward_controller"/> -->
  <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="crane_state_controller crane_tip_velocity_rml_controller"/> -->

  <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller"/> -->
</launch>