<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- Start in simulation or not -->
    <arg name="sim" default="true" />

    <include file="$(find crane_description)/launch/test_crane.launch" />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find crane_hw_interface)/config/hardware_controllers.yaml" command="load"/>
    <!-- Load standard kuka controller joint names from YAML file to parameter server -->
    <rosparam file="$(find crane_hw_interface)/config/controller_joint_names.yaml" command="load"/>

    <!-- main 'driver node': the crane hardware interface -->
    <node name="crane_hw_interface_sim" pkg="crane_hw_interface" type="crane_hw_interface_node_sim" output="screen" respawn="false" if="$(arg sim)"/>

    <node name="crane_hw_interface" pkg="crane_hw_interface" type="crane_hw_interface_node" output="screen" respawn="false" unless="$(arg sim)"/>

    <!-- Load controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" 
        args="crane_tip_velocity_controller crane_state_controller"/>
</launch>