<launch>
  <node pkg="nodelet" type="nodelet" name="crane_vision_nodelet_manager" args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="camera0" args="load cv_camera/CvCameraNodelet crane_vision_nodelet_manager" output="screen">
    <param name="frame_id" value="camera0" />
    <param name="device_id" value="2" />
    <param name="image_width" value="1280"/>
    <param name="image_height" value="720"/>
    <param name="rate" value="30.0" />
  </node>

  <node pkg="nodelet" type="nodelet" name="camera1" args="load cv_camera/CvCameraNodelet crane_vision_nodelet_manager" output="screen">
    <param name="frame_id" value="camera1" />
    <param name="device_id" value="4" />
    <param name="image_width" value="1280"/>
    <param name="image_height" value="720"/>
    <param name="rate" value="30.0" />
  </node>

  <node pkg="nodelet" type="nodelet" name="camera2" args="load cv_camera/CvCameraNodelet crane_vision_nodelet_manager" output="screen">
    <param name="frame_id" value="camera2" />
    <param name="device_id" value="0" />
    <param name="image_width" value="1280"/>
    <param name="image_height" value="720"/>
    <param name="rate" value="30.0" />
  </node>

  <node pkg="nodelet" type="nodelet" name="crane_vision_nodelet" args="load crane_vision/CraneVisionNodelet crane_vision_nodelet_manager" output="screen">
    <rosparam param="roi0">[450, 100, 640, 360]</rosparam>
    <rosparam param="roi1">[300, 100, 640, 360]</rosparam>
    <rosparam param="roi2">[150, 100, 640, 360]</rosparam>
    <rosparam param="hmin">43</rosparam>
    <rosparam param="hmax">73</rosparam>
    <rosparam param="smin">54</rosparam>
    <rosparam param="smax">250</rosparam>
    <rosparam param="vmin">86</rosparam>
    <rosparam param="vmax">255</rosparam>
    <rosparam param="queue_size">10</rosparam>
    <rosparam param="approximate_sync">true</rosparam>
    <rosparam param="debug">false</rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="crane_vision_ekf" args="load crane_vision/CraneVisionEKF crane_vision_nodelet_manager" output="screen">
  </node>

  <!-- <node pkg="crane_vision" type="crane_vision_node" name="crane_vision_ekf" output="screen"/> -->

</launch>